include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include wagtailformblocks/static *
recursive-include wagtailformblocks/templates *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
